.homeWrap {
  height: 100%;
  display: flex;

  .homeBody {
    width: 100%;
  }

  .top {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px -2px var(--color-111029-10);

    :global {
      .ant-input-affix-wrapper {
        max-width: 255px;
        margin-left: 24px;
        border: 1px solid var(--color-CACED7);
        border-radius: 16px;
      }

      .ant-input-affix-wrapper-focused {
        box-shadow: 0px 0px;
      }


      input::placeholder {
        color: var(--color-CACED7);
      }
    }

    & > div {
      color: var(--color-48567D);
      font-size: 12px;
      flex-shrink: 0;
      padding-right: 24px;
    }
  }
}

:global {
  .dropButton {
    font-size: 12px;
    color: var(--color);
  }
}

.tabWrap {
  display: flex;
  padding: 22px 24px;

  & > :last-child {
    margin-left: 15px;
  }

  .tabItem {
    width: 70px;
    height: 26px;
    color: white;
    position: relative;
    background: var(--bg) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    box-sizing: border-box;
    border-radius: 13px;

    .tabContent {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

    &:before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      background: var(--prefix);
      background-size: cover;
      z-index: 10;
      left: 14px;
    }
  }
}


.listWrap {
  :global {
    .ant-table-thead {
      th {
        background: transparent;
        color: var(--color-111029);
        font-size: 12px;
        font-weight: 500;
      }

      th::before {
        width: 0 !important;
        height: 0 !important;
      }
    }

    .ant-table-tbody {
      td {
        color: var(--color-435179);
        font-size: 12px;
      }

      .ant-table-placeholder > td {
        border-bottom: none;
      }

    }
  }
}
