:export {
  copyIcon: url('@/assets/home/copy.svg');
  copyButton: url('@/assets/home/copy_button.svg');
  switchIcon: url('@/assets/home/switch.svg');
  switchButton: url('@/assets/home/switch_button.svg');
  color435179: var(--color-435179);
  color3453F4: var(--color-3453F4);
}
