:export {
  copyIcon: url('@/assets/home/copy.svg');
  copyButton: url('@/assets/home/copy_button.svg');
  switchIcon: url('@/assets/home/switch.svg');
  switchButton: url('@/assets/home/switch_button.svg');
}
