:export {
  colorFF6056: var(--color-FF6056);
  colorFEBD2D: var(--color-FEBD2D);
  color27CA42: var(--color-27CA42);
  barClose: url('@/assets/bar/close.svg');
  barHide: url('@/assets/bar/hide.svg');
  barClose: url('@/assets/bar/close.svg');
  barClose: url('@/assets/bar/close.svg');

}
