:root {
  --color-FF6056: #FF6056;
  --color-FEBD2D: #FEBD2D;
  --color-27CA42: #27CA42;
  --color-2e2d4b: #2e2d4b;
  --color-010000: #010000;
  --color-48567D: #48567D;
  --color-CACED7: #CACED7;
  --color-A7ADBD: #A7ADBD;
  --color-111029: #111029;
  --color-435179: #435179;
  --color-5877F3: #5877F3;
  --color-F0F0F4: #F0F0F4;
  --color-FFFFFF: #FFF;
  --color-000000: #000;
  --color-151515: #151515;
  --color-2E2D4B: #2E2D4B;
  --color-3453F4:#3453F4;
  --color-DDE0E6:#DDE0E6;
  --color-FFFFFF-80: rgb(255, 255, 255, 0.8);
  --color-111029-10: rgba(17, 16, 41, 0.10);
}

body {
  box-sizing: border-box;
}
