.tabWrap {
  display: flex;
  padding: 22px 0px;

  &> :last-child {
    margin-left: 25px;
  }

  .tabItem {
    height: 26px;
    color: white;
    position: relative;
    background: var(--bg) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    box-sizing: border-box;
    border-radius: 13px;
    cursor: pointer;

    .tabContent {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &:before {
        content: '';
        width: 14px;
        height: 14px;
        background: var(--prefix);
        background-size: cover;
        z-index: 10;
        left: 14px;
      }
    }
  }
}


.path {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;

  /* 让省略符显示在文本左侧 */
  direction: rtl;
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--color-3453F4);
}

:global {
  .ant-tooltip-inner {
    font-size: 12px !important;
  }
}



.listWrap {
  .listBottom {
    height: 58px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .progressWrap {

    &>div {
      font-size: 12px;
      color: var(--color-435179);
    }
  }

  .operationWrap {
    :first-child {
      margin-right: 10px;
    }

    &>svg {
      cursor: pointer;
    }
  }
}