.tabWrap {
  display: flex;
  padding: 22px 0px;

  & > :last-child {
    margin-left: 25px;
  }

  .tabItem {
    height: 26px;
    color: white;
    position: relative;
    background: var(--bg) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    box-sizing: border-box;
    border-radius: 13px;

    .tabContent {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &:before {
        content: '';
        width: 14px;
        height: 14px;
        background: var(--prefix);
        background-size: cover;
        z-index: 10;
        left: 14px;
      }
    }
  }
}


.listWrap {
  :global {
    .ant-table-thead {
      th {
        background: transparent;
        color: var(--color-111029);
        font-size: 12px;
        font-weight: 500;
      }

      th::before {
        width: 0 !important;
        height: 0 !important;
      }
    }

    .ant-table-tbody {
      td {
        color: var(--color-435179);
        font-size: 12px;
      }
    }
  }
}
